#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.quadrado{
    background-color: chocolate;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.quadrado2{
    background-color: yellowgreen;
   width: 200px;
    margin: 20px;
}